# editor settings
.vscode/
.idea/
.ccls

# OS Specific file
.DS_Store
bochs.log

# Build files
*.o
*ao
*.aso
*.d
*.iso
*.elf
*.map
*.hdd

# Binary bootloader files
resources/limine.sys 

# Other folders
cross/
build/
echfs/
limine/
build/